// Imports
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// Variables
$white: #f5f2f2;
$light: #bde8f5;
$black: #2b2a2a;
$blue: #0ba6df;
$lightblue: rgba(37, 152, 194, 0.91);

// Normalize
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Nunito", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background: radial-gradient(circle, #fff, #ddd);
}

// Placeholders
%box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
%y-center {
  top: 50%;
  transform: translateY(-50%);
}
%x-center {
  left: 50%;
  transform: translateX(-50%);
}
%full-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
