@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Nunito", sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background: radial-gradient(circle, #fff, #ddd); }

.Toastify__toast-container {
  z-index: 99999999 !important; }

.instructions .instruction, .credits-container .credits .plans .plan, .login form {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.credits-container .credits .plans .plan button {
  left: 50%;
  transform: translateX(-50%); }

.hero .hero-heading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* @Navbar_Styling */
.navbar {
  width: 100%;
  height: 72px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999;
  top: 0; }
  .navbar .nav-heading {
    position: relative;
    left: 15px; }
    .navbar .nav-heading a {
      display: flex;
      align-items: center;
      gap: 5px; }
      .navbar .nav-heading a img {
        width: 70px;
        height: 70px; }
        @media (max-width: 1024px) {
          .navbar .nav-heading a img {
            width: 50px;
            height: 50px; } }
        @media (max-width: 768px) {
          .navbar .nav-heading a img {
            width: 40px;
            height: 40px; } }
      .navbar .nav-heading a p {
        color: #2b2a2a;
        font-size: 26px; }
        @media (max-width: 1024px) {
          .navbar .nav-heading a p {
            font-size: 20px; } }
        @media (max-width: 768px) {
          .navbar .nav-heading a p {
            font-size: 16px; } }
  .navbar .nav-control {
    position: relative;
    right: 15px; }
    .navbar .nav-control .logged-out {
      display: flex;
      align-items: center;
      gap: 25px; }
      .navbar .nav-control .logged-out p {
        color: #2b2a2a;
        cursor: pointer;
        font-weight: bold; }
      .navbar .nav-control .logged-out button {
        background: linear-gradient(to right bottom, #0ba6df, #bde8f5);
        color: #f5f2f2;
        font-size: 16px;
        cursor: pointer;
        border: 0;
        padding: 4px 32px;
        border-radius: 5px; }
    .navbar .nav-control .logged-in {
      position: relative;
      display: flex;
      align-items: center;
      gap: 25px; }
      .navbar .nav-control .logged-in p {
        color: #2b2a2a;
        background-color: #bde8f5;
        padding: 4px 14px;
        cursor: pointer;
        border-radius: 15px; }
        @media (max-width: 768px) {
          .navbar .nav-control .logged-in p {
            padding: 4px 12px;
            font-size: 14px; } }
        .navbar .nav-control .logged-in p i {
          position: relative;
          top: 1px;
          color: #2b2a2a; }
      .navbar .nav-control .logged-in span {
        color: #2b2a2a; }
        @media (max-width: 768px) {
          .navbar .nav-control .logged-in span {
            font-size: 14px; } }
      .navbar .nav-control .logged-in .profile-control {
        display: inline-flex;
        align-items: center;
        gap: 10px; }
        .navbar .nav-control .logged-in .profile-control div {
          display: flex;
          align-items: center;
          flex-direction: column; }
          .navbar .nav-control .logged-in .profile-control div img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 2px;
            cursor: pointer; }
            @media (max-width: 768px) {
              .navbar .nav-control .logged-in .profile-control div img {
                width: 25px;
                height: 25px; } }
          .navbar .nav-control .logged-in .profile-control div button {
            position: absolute;
            background: linear-gradient(to right bottom, #0ba6df, #bde8f5);
            color: #f5f2f2;
            top: 45px;
            right: 0px;
            display: none;
            padding: 4px 32px;
            cursor: pointer;
            border: 0;
            border-radius: 5px; }
          .navbar .nav-control .logged-in .profile-control div .hovered-btn {
            display: block !important; }

/* @Hero_Styling */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 120px; }
  .hero .hero-heading {
    position: absolute; }
    .hero .hero-heading h1 {
      width: 60%;
      margin: 0 auto;
      color: #2b2a2a;
      text-align: center;
      font-size: 45px; }
      @media (max-width: 1024px) {
        .hero .hero-heading h1 {
          width: 85%; } }
      @media (max-width: 768px) {
        .hero .hero-heading h1 {
          font-size: 35px; } }
      .hero .hero-heading h1 span {
        color: #0ba6df; }
    .hero .hero-heading .animated-text {
      margin: 15px auto;
      display: flex;
      justify-content: center; }
      .hero .hero-heading .animated-text span {
        color: #2b2a2a;
        text-align: center;
        font-weight: 200;
        font-size: 20px;
        font-variant: all-small-caps;
        pointer-events: none; }
        @media (max-width: 768px) {
          .hero .hero-heading .animated-text span {
            font-size: 14px; } }
    .hero .hero-heading button {
      cursor: pointer;
      border: 0;
      padding: 0.9rem 2rem;
      position: relative;
      display: block;
      letter-spacing: 0.05rem;
      margin: 25px auto;
      font-weight: 700;
      font-size: 16px;
      border-radius: 15px;
      overflow: hidden;
      background: #0ba6df;
      color: #f5f2f2; }
    .hero .hero-heading button span {
      position: relative;
      z-index: 10;
      transition: color 0.4s; }
    .hero .hero-heading button:hover span {
      color: #2b2a2a; }
    .hero .hero-heading button::before,
    .hero .hero-heading button::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .hero .hero-heading button::before {
      content: "";
      background: #2b2a2a;
      width: 120%;
      left: -10%;
      transform: skew(30deg);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1); }
    .hero .hero-heading button:hover::before {
      transform: translate3d(100%, 0, 0); }
    .hero .hero-heading .styles-gallery {
      margin: 35px auto;
      display: flex;
      gap: 10px;
      width: 80%;
      height: 300px; }
      @media (max-width: 1024px) {
        .hero .hero-heading .styles-gallery {
          width: 95%; } }
      .hero .hero-heading .styles-gallery .gallery-flex {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        cursor: pointer;
        transition: flex 0.6s ease, transform 0.6s ease, background 0.6s ease;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        overflow: hidden; }
      .hero .hero-heading .styles-gallery .gallery-flex img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        transition: transform 0.6s ease; }
      .hero .hero-heading .styles-gallery .gallery-flex:hover {
        flex: 3;
        transform: scale(1.05);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); }
      .hero .hero-heading .styles-gallery .gallery-flex:hover img {
        transform: scale(1.1); }
    .hero .hero-heading .hook {
      display: block;
      text-align: center;
      color: #2b2a2a;
      pointer-events: none; }

/* @Instructions_Styling */
.instructions {
  width: 100%;
  margin: 25px auto; }
  .instructions h3 {
    color: #2b2a2a;
    text-align: center;
    font-size: 42px; }
    @media (max-width: 768px) {
      .instructions h3 {
        font-size: 32px; } }
  .instructions .hook {
    color: #0ba6df;
    font-weight: 200;
    text-align: center; }
  .instructions .instruction {
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 25px; }
    @media (max-width: 1024px) {
      .instructions .instruction {
        width: 85%; } }
    .instructions .instruction i {
      font-size: 42px;
      color: #0ba6df;
      background-color: #bde8f5;
      padding: 8px;
      border-radius: 5px; }
      @media (max-width: 768px) {
        .instructions .instruction i {
          font-size: 32px; } }
    .instructions .instruction h4 {
      font-size: 25px;
      color: #2b2a2a; }
      @media (max-width: 768px) {
        .instructions .instruction h4 {
          font-size: 20px; } }
    .instructions .instruction p {
      font-size: 16px;
      color: #2b2a2a; }
      @media (max-width: 768px) {
        .instructions .instruction p {
          font-size: 14px; } }

/* @GenerateBtn_Styling */
.generate-section {
  position: relative;
  margin: 50px auto; }
  .generate-section h1 {
    text-align: center;
    color: #2b2a2a; }

.generate-btn {
  cursor: pointer;
  border: 0;
  padding: 0.9rem 2rem;
  position: relative;
  display: block;
  letter-spacing: 0.05rem;
  margin: 5px auto;
  font-weight: 700;
  font-size: 16px;
  border-radius: 15px;
  overflow: hidden;
  background: #0ba6df;
  color: #f5f2f2; }

.generate-btn span {
  position: relative;
  z-index: 10;
  transition: color 0.4s; }

.generate-btn:hover span {
  color: #2b2a2a; }

.generate-btn::before,
.generate-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.generate-btn::before {
  content: "";
  background: #2b2a2a;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1); }

.generate-btn:hover::before {
  transform: translate3d(100%, 0, 0); }

/* @Footer_Styling */
.footer {
  width: 100%;
  height: 62px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, black, #f5f2f2); }
  .footer .footer-logo {
    position: relative;
    left: 10px;
    display: flex;
    gap: 10px;
    align-items: center; }
    .footer .footer-logo img {
      width: 60px;
      height: 60px;
      pointer-events: none; }
      @media (max-width: 768px) {
        .footer .footer-logo img {
          width: 40px;
          height: 40px; } }
    .footer .footer-logo span {
      color: #0ba6df;
      font-weight: bold;
      font-variant: all-small-caps;
      pointer-events: none; }
      @media (max-width: 768px) {
        .footer .footer-logo span {
          font-size: 14px; } }
  .footer .social-media {
    position: relative;
    right: 50px; }
    .footer .social-media ul {
      display: flex;
      gap: 10px; }
      .footer .social-media ul a {
        color: #2b2a2a;
        font-size: 20px; }
        @media (max-width: 768px) {
          .footer .social-media ul a {
            font-size: 16px; } }

/* @Result_Styling */
.result-container {
  width: 100%;
  height: calc(100vh - 62px);
  position: relative; }
  .result-container .result {
    width: 100%;
    position: absolute;
    top: 72px; }
    .result-container .result .loading-image {
      width: 50%;
      height: 400px;
      position: relative;
      margin: 0 auto; }
      @media (max-width: 1024px) {
        .result-container .result .loading-image {
          width: 75%; } }
      .result-container .result .loading-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .result-container .result .loading-image span {
        height: 2px;
        display: block;
        background-color: #2b2a2a;
        position: absolute;
        bottom: 0; }
      .result-container .result .loading-image .w-full {
        width: 100%;
        transition: 0.5s linear;
        transition-duration: 10s; }
      .result-container .result .loading-image .w-0 {
        width: 0; }
      .result-container .result .loading-image a {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background-color: red;
        backdrop-filter: blur(10px);
        color: #f5f2f2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px; }
    .result-container .result .prompt-area {
      width: 50%;
      position: relative;
      margin: 25px auto; }
      @media (max-width: 1024px) {
        .result-container .result .prompt-area {
          width: 75%; } }
      .result-container .result .prompt-area textarea {
        width: 100%;
        min-height: 120px;
        max-height: 120px;
        resize: none;
        padding: 12px;
        background-color: #2b2a2a;
        color: #f5f2f2;
        font-size: 16px;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .result-container .result .prompt-area button {
        position: absolute;
        width: 120px;
        height: 32px;
        right: 5px;
        bottom: 12.5px;
        background-color: #f5f2f2;
        color: #2b2a2a;
        cursor: pointer;
        border: 0;
        border-radius: 10px; }
    .result-container .result .generate-another {
      width: 50%;
      margin-top: 25px; }

/* @Credits_Styling */
.credits-container {
  width: 100%;
  height: calc(100vh - 62px);
  position: relative; }
  .credits-container .credits {
    width: 100%;
    height: calc(100vh - 82px);
    position: absolute;
    top: 82px; }
    .credits-container .credits h1 {
      color: #2b2a2a;
      text-align: center; }
    .credits-container .credits .plans {
      width: 70%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px; }
      @media (max-width: 1300px) {
        .credits-container .credits .plans {
          width: 95%; } }
      @media (max-width: 1024px) {
        .credits-container .credits .plans {
          grid-template-columns: repeat(2, 1fr); } }
      @media (max-width: 768px) {
        .credits-container .credits .plans {
          grid-template-columns: 100%;
          height: 80%;
          overflow-x: hidden; } }
      .credits-container .credits .plans .plan {
        width: 100%;
        position: relative;
        min-height: 250px;
        border-radius: 15px;
        padding: 8px 22px; }
        .credits-container .credits .plans .plan img {
          width: 70px;
          height: 70px; }
          @media (max-width: 1024px) {
            .credits-container .credits .plans .plan img {
              width: 50px;
              height: 50px; } }
        .credits-container .credits .plans .plan h3 {
          font-size: 16px;
          color: rgba(37, 152, 194, 0.91); }
          @media (max-width: 1024px) {
            .credits-container .credits .plans .plan h3 {
              font-size: 14px; } }
        .credits-container .credits .plans .plan span {
          color: #2b2a2a;
          font-size: 32px; }
          @media (max-width: 1024px) {
            .credits-container .credits .plans .plan span {
              font-size: 24px; } }
        .credits-container .credits .plans .plan button {
          position: absolute;
          width: 60%;
          bottom: 10px;
          color: #f5f2f2;
          background-color: #0ba6df;
          padding: 6px;
          border: 0;
          border-radius: 5px;
          cursor: pointer; }

/* @Login_Styling */
.login {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login form {
    padding: 40px;
    background-color: #f5f2f2;
    position: relative;
    border-radius: 20px; }
    .login form h1 {
      color: #2b2a2a;
      text-align: center; }
    .login form p {
      color: #2b2a2a; }
      .login form p span {
        cursor: pointer;
        color: #0ba6df; }
    .login form .input-group {
      width: 100%;
      position: relative;
      margin: 5px auto; }
      .login form .input-group i {
        color: #2b2a2a;
        position: absolute;
        left: 6px;
        top: 10px; }
      .login form .input-group .fa-user {
        top: 9.5px; }
      .login form .input-group .fa-lock {
        top: 9px; }
      .login form .input-group input {
        width: 100%;
        padding: 8px 28px;
        border: 1px solid #ddd;
        border-radius: 10px; }
    .login form a {
      color: #0ba6df; }
    .login form button {
      width: 100%;
      margin: 10px auto;
      color: #f5f2f2;
      background-color: #0ba6df;
      cursor: pointer;
      border: 0;
      border-radius: 10px;
      padding: 8px; }
    .login form .fa-close {
      color: #2b2a2a;
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer; }
