@import "../scss/normalize";
@import "../scss/mixin";

/* @Navbar_Styling */
.navbar {
  width: 100%;
  height: 72px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999;
  top: 0;
  .nav-heading {
    position: relative;
    left: 15px;
    a {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 70px;
        height: 70px;
        @include media(medium) {
          width: 50px;
          height: 50px;
        }
        @include media(small) {
          width: 40px;
          height: 40px;
        }
      }
      p {
        color: $black;
        font-size: 26px;
        @include media(medium) {
          font-size: 20px;
        }
        @include media(small) {
          font-size: 16px;
        }
      }
    }
  }
  .nav-control {
    position: relative;
    right: 15px;
    .logged-out {
      display: flex;
      align-items: center;
      gap: 25px;
      p {
        color: $black;
        cursor: pointer;
        font-weight: bold;
      }
      button {
        background: linear-gradient(to right bottom, $blue, $light);
        color: $white;
        font-size: 16px;
        cursor: pointer;
        border: 0;
        padding: 4px 32px;
        border-radius: 5px;
      }
    }
    .logged-in {
      position: relative;
      display: flex;
      align-items: center;
      gap: 25px;
      p {
        color: $black;
        background-color: $light;
        padding: 4px 14px;
        cursor: pointer;
        border-radius: 15px;
        @include media(small) {
          padding: 4px 12px;
          font-size: 14px;
        }
        i {
          position: relative;
          top: 1px;
          color: $black;
        }
      }
      span {
        color: $black;
        @include media(small) {
          font-size: 14px;
        }
      }
      .profile-control {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        div {
          display: flex;
          align-items: center;
          flex-direction: column;
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 2px;
            cursor: pointer;
            @include media(small) {
              width: 25px;
              height: 25px;
            }
          }
          button {
            position: absolute;
            background: linear-gradient(to right bottom, $blue, $light);
            color: $white;
            top: 45px;
            right: 0px;
            display: none;
            padding: 4px 32px;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
          }
          .hovered-btn {
            display: block !important;
          }
        }
      }
    }
  }
}

/* @Hero_Styling */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 82px;
  .hero-heading {
    position: absolute;
    @extend %full-center;
    h1 {
      width: 60%;
      margin: 0 auto;
      color: $black;
      text-align: center;
      font-size: 45px;
      @include media(medium) {
        width: 85%;
      }
      @include media(small) {
        font-size: 35px;
      }
      span {
        color: $blue;
      }
    }
    .animated-text {
      margin: 15px auto;
      display: flex;
      justify-content: center;
      span {
        color: $black;
        text-align: center;
        font-weight: 200;
        font-size: 20px;
        font-variant: all-small-caps;
        pointer-events: none;
        @include media(small) {
          font-size: 14px;
        }
      }
    }
    button {
      cursor: pointer;
      border: 0;
      padding: 0.9rem 2rem;
      position: relative;
      display: block;
      letter-spacing: 0.05rem;
      margin: 25px auto;
      font-weight: 700;
      font-size: 16px;
      border-radius: 15px;
      overflow: hidden;
      background: $blue;
      color: $white;
    }
    button span {
      position: relative;
      z-index: 10;
      transition: color 0.4s;
    }
    button:hover span {
      color: $black;
    }
    button::before,
    button::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    button::before {
      content: "";
      background: $black;
      width: 120%;
      left: -10%;
      transform: skew(30deg);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }
    button:hover::before {
      transform: translate3d(100%, 0, 0);
    }
    .styles-gallery {
      margin: 35px auto;
      display: flex;
      gap: 10px;
      width: 80%;
      height: 300px;
      @include media(medium) {
        width: 95%;
      }
      .gallery-flex {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        cursor: pointer;
        transition: flex 0.6s ease, transform 0.6s ease, background 0.6s ease;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        overflow: hidden;
      }
      .gallery-flex img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        transition: transform 0.6s ease;
      }
      .gallery-flex:hover {
        flex: 3;
        transform: scale(1.05);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
      }
      .gallery-flex:hover img {
        transform: scale(1.1);
      }
    }
    .hook {
      display: block;
      text-align: center;
      color: $black;
      pointer-events: none;
    }
  }
}

/* @Instructions_Styling */
.instructions {
  width: 100%;
  margin: 25px auto;
  h3 {
    color: $black;
    text-align: center;
    font-size: 42px;
    @include media(small) {
      font-size: 32px;
    }
  }
  .hook {
    color: $blue;
    font-weight: 200;
    text-align: center;
  }
  .instruction {
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 25px;
    @include media(medium) {
      width: 85%;
    }
    @extend %box-shadow;
    i {
      font-size: 42px;
      color: $blue;
      background-color: $light;
      padding: 8px;
      border-radius: 5px;
      @include media(small) {
        font-size: 32px;
      }
    }
    h4 {
      font-size: 25px;
      color: $black;
      @include media(small) {
        font-size: 20px;
      }
    }
    p {
      font-size: 16px;
      color: $black;
      @include media(small) {
        font-size: 14px;
      }
    }
  }
}

/* @GenerateBtn_Styling */
.generate-section {
  position: relative;
  margin: 50px auto;
  h1 {
    text-align: center;
    color: $black;
  }
}
.generate-btn {
  cursor: pointer;
  border: 0;
  padding: 0.9rem 2rem;
  position: relative;
  display: block;
  letter-spacing: 0.05rem;
  margin: 5px auto;
  font-weight: 700;
  font-size: 16px;
  border-radius: 15px;
  overflow: hidden;
  background: $blue;
  color: $white;
}
.generate-btn span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}
.generate-btn:hover span {
  color: $black;
}
.generate-btn::before,
.generate-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.generate-btn::before {
  content: "";
  background: $black;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.generate-btn:hover::before {
  transform: translate3d(100%, 0, 0);
}
/* @Footer_Styling */
.footer {
  width: 100%;
  height: 62px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, black, $white);
  .footer-logo {
    position: relative;
    left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      pointer-events: none;
      @include media(small) {
        width: 40px;
        height: 40px;
      }
    }
    span {
      color: $blue;
      font-weight: bold;
      font-variant: all-small-caps;
      pointer-events: none;
      @include media(small) {
        font-size: 14px;
      }
    }
  }
  .social-media {
    position: relative;
    right: 50px;
    ul {
      display: flex;
      gap: 10px;
      a {
        color: $black;
        font-size: 20px;
        @include media(small) {
          font-size: 16px;
        }
      }
    }
  }
}
/* @Result_Styling */
.result {
  width: 100%;
  height: calc(100vh - 162px);
  position: relative;
  .loading-image {
    width: 50%;
    height: 400px;
    position: relative;
    margin: 100px auto;
    @include media(medium) {
      width: 75%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      height: 2px;
      display: block;
      background-color: $black;
      position: absolute;
      bottom: 0;
    }
    .w-full {
      width: 100%;
      transition: 0.5s linear;
      transition-duration: 10s;
    }
    .w-0 {
      width: 0;
    }
    a {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      color: $black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
  }
  .prompt-area {
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: -50px;
    @include media(medium) {
      width: 75%;
    }
    textarea {
      width: 100%;
      min-height: 120px;
      max-height: 120px;
      resize: none;
      padding: 12px;
      background-color: $black;
      color: $white;
      font-size: 16px;
      border: 0;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    button {
      position: absolute;
      width: 120px;
      height: 32px;
      right: 5px;
      bottom: 12.5px;
      background-color: $white;
      color: $black;
      cursor: pointer;
      border: 0;
      border-radius: 10px;
    }
  }
  .generate-another {
    width: 50%;
    top: -50px;
  }
}
/* @Credits_Styling */
.credits-container {
  width: 100%;
  height: calc(100vh - 62px);
  position: relative;
  .credits {
    width: 100%;
    height: calc(100vh - 82px);
    position: absolute;
    top: 82px;
    h1 {
      color: $black;
      text-align: center;
    }
    .plans {
      width: 70%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      @include media(large) {
        width: 95%;
      }
      @include media(medium) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media(small) {
        grid-template-columns: 100%;
        height: 80%;
        overflow-x: hidden;
      }
      .plan {
        width: 100%;
        position: relative;
        min-height: 250px;
        @extend %box-shadow;
        border-radius: 15px;
        padding: 8px 22px;
        img {
          width: 70px;
          height: 70px;
          @include media(medium) {
            width: 50px;
            height: 50px;
          }
        }
        h3 {
          font-size: 16px;
          color: $lightblue;
          @include media(medium) {
            font-size: 14px;
          }
        }
        span {
          color: $black;
          font-size: 32px;
          @include media(medium) {
            font-size: 24px;
          }
        }
        button {
          position: absolute;
          width: 60%;
          @extend %x-center;
          bottom: 10px;
          color: $white;
          background-color: $blue;
          padding: 6px;
          border: 0;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
/* @Login_Styling */
.login {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    padding: 40px;
    background-color: $white;
    @extend %box-shadow;
    position: relative;
    border-radius: 20px;
    h1 {
      color: $black;
      text-align: center;
    }
    p {
      color: $black;
      span {
        cursor: pointer;
        color: $blue;
      }
    }
    .input-group {
      width: 100%;
      position: relative;
      margin: 5px auto;
      i {
        color: $black;
        position: absolute;
        left: 6px;
        top: 10px;
      }
      .fa-user {
        top: 9.5px;
      }
      .fa-lock {
        top: 9px;
      }
      input {
        width: 100%;
        padding: 8px 28px;
        border: 1px solid #ddd;
        border-radius: 10px;
      }
    }
    a {
      color: $blue;
    }
    button {
      width: 100%;
      margin: 10px auto;
      color: $white;
      background-color: $blue;
      cursor: pointer;
      border: 0;
      border-radius: 10px;
      padding: 8px;
    }
    .fa-close {
      color: $black;
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
    }
  }
}
